/* Tab list styling */
.tab-list {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

/* Style for tab links (as clickable items) */
.tablink {
    text-decoration: none;
    color: blue;  /* Highlight tabs as links */
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
}

/* Style for the active/selected tab (unhighlighted) */
.tablink.active {
    color: black;
    cursor: default;
}

/* Dots between the tabs */
.separator {
    color: black;
}

/* Style the tab content sections */
.tab-content {
    display: none;
}

/* Show active tab content */
.tab-content.active {
    display: block;
}



.triangle-highlight {
	fill: #ec008c;
	opacity: 1;
}
.triangle-highlight3 {
	fill: green;
	opacity: .4;
}
.triangle-highlight2 {
	fill: green;
	opacity: .8;
}
.triangle-highlight4 {
	fill: green;
	opacity: .8;
}


table {
  border: 1px solid #dddddd;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td {
  text-align: left;
  padding: 8px;
}

th {
  text-align: center;
  padding: 8px;
}

